<clickhouse replace="true">
    <logger>
        <level>debug</level>
        <console>true</console>
    </logger>
    <display_name>node 2</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
    <remote_servers>
        <cluster_1S_2R>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-01</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-02</host>
                    <port>9000</port>
                </replica>
            </shard>
        </cluster_1S_2R>
    </remote_servers>
    <zookeeper>
        <zookeeper_load_balancing>in_order</zookeeper_load_balancing>
        <fallback_session_lifetime>
            <min>2</min>
            <max>4</max>
        </fallback_session_lifetime>
        <node>
            <host>clickhouse-keeper-01</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-02</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-03</host>
            <port>9181</port>
        </node>
        <session_timeout_ms>500</session_timeout_ms>
    </zookeeper>
    <macros>
        <shard>01</shard>
        <replica>02</replica>
        <cluster>mycluster</cluster>
    </macros>
</clickhouse>